<div id="<%= dom_id userorderdescription %>">
     <div class="card shadow-sm">


          <div class="card-body">
  <p>
    <strong>UserOrder:</strong>
    <%= userorderdescription.userorder_id %>
  </p>

  <p>
    <strong>Item:</strong>
    <%= userorderdescription.item_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= userorderdescription.quantity %>
  </p>
  <p>
      <%= link_to "View", userorderdescription %>
    </p>

</div>
</div>
</div>
