<header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
       <%= link_to root_path do %>
        <%= image_tag("rubin.png", width: "30px")%>
        <% end %>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <%= link_to "Overview", overview_path, class: current_page_class(overview_path)%>
          <%= link_to "Orders", orders_path, class: current_page_class(orders_path)%>
          <%= link_to "Orders_description", orders_description_path, class: current_page_class(orders_description_path)%>


        </ul>


      </div>
    </div>
  </header>
