<header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
       <%= link_to root_path do %>
        <%= image_tag("rubin.png", width: "30px")%>
        <% end %>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <%= link_to "Overview", overview_path, class: current_page_class(overview_path)%>
          <%- if user_signed_in? %>
          <%= link_to "Orders", orders_path, class: current_page_class(orders_path)%>
          <%= link_to "Orders_description", orders_description_path, class: current_page_class(orders_description_path)%>
          <%end%>


        </ul>
 <%- if user_signed_in? %>
<div class="col-md-3 text-end">
  <div class="dropdown text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><%= link_to "Profile", edit_user_registration_path, class: "dropdown-item" %></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= button_to "Logout", destroy_user_session_path, class:"btn btn-outline-primary me-2 dropdown-item", method: :delete, form: {turbolink: false} %>
</li>
          </ul>
        </div>


      </div>
 <%else%>
<div class="col-md-3 text-end">
  <%= link_to new_user_session_path do %>
        <button type="button" class="btn btn-outline-primary me-2">Login</button>
        <%end%>
        <%= link_to new_user_registration_path do %>
        <button type="button" class="btn btn-primary">Sign-up</button>
        <%end%>
      </div>
      <%end%>
      </div>
    </div>
  </header>
